
:root {
  --white: #fff;
  --orange: #f55800;
  --linear: #262626;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.space {
  margin-bottom: 80px;
}

p.a {
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 992px) {
  #main-navbar {
    clear: both;
  }
}

.success {
  color: var(--orange);
}

.bg-success1 {
  background-color: var(--orange);
  color: var(--white);
}

.flex-container {
  display: flex;
  flex-direction: row;
}

img,
.card-img-top {
  width: 100%;
  height: auto;
}

.btn-responsive {
  /* matches 'btn-md' */
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }

  .btn-responsive {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  .col-md-3 {
    width: 100%;
    float: left;
    margin: 0;
  }
}
