
:root {
  --white: #fff;
  --orange: #f55800;
  --linear: #262626;
  --gray: #3c3a39;
  --dark: #000;
  --grey: #ccc;
  --wheat: #feeee5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  font-family: "Inter", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 10px;
  margin: 0;
  font-family: "Crete Round", sans-serif;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

.navbar-right {
  margin-left: 600px;
}

.navbar-toggler {
  font-size: 0.5rem;
  line-height: 1;
  color: var(--gray);
  background-color: var(--white) !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-nav li,
.navbar-brand {
  font-size: 28px;
}

.wheat {
  color: var(--white);
}

.btn1 {
  margin-left: 40px;
  margin-right: 10px;
}

.btn-visible {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.active {
  color: var(--orange);
}

.card-subtitle,
.card-text,
a {
  font-family: "Crete Round", sans-serif;
}

.second h1 {
  font-size: 72px;
}

.gray {
  background-color: var(--gray);
}

.hidden {
  display: none;
}

.bookstore {
  border: 20px solid var(--orange);
}

.fa1 {
  font-size: 28px;
}

h2 {
  font-size: 40px;
}

h5 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

a {
  color: var(--white);
}

a:hover {
  color: var(--orange);
}

.second h4 {
  font-size: 32px;
}

.crete,
.card-text,
p,
form {
  font-family: "Inter", sans-serif;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--grey);
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
}

input:focus {
  border-color: var(--orange);
}

.card li {
  text-decoration-color: var(--white);
}

.card-text .btn {
  background-color: transparent;
}

.first li {
  margin: 40px;
}

.see-project {
  visibility: unset;
}

img,
.card-img-top {
  width: 100%;
  height: auto;
}

.card-img-overlay img {
  position: relative;
}

.card-img-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: var(--grey);
  resize: none; /* remove the resize handle on the bottom right */
}

@media screen and (max-width: 992px) {
  #main-navbar {
    clear: both;
  }

  html {
    font-size: 70%;
  }
}

#special-color-dark li {
  text-decoration-color: var(--dark);
}

.success {
  color: var(--orange);
}

.bg-success1 {
  background-color: var(--orange);
  color: var(--white);
}

a:link {
  text-decoration: var(--dark);
}

.skills {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.card {
  margin: 5px;
}

.btn-responsive {
  /* matches 'btn-md' */
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

footer .fa1 {
  margin: 8px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card h6 {
    font-size: 18px;
  }

  .card p {
    font-size: 11px;
  }

  html {
    font-size: 60%;
  }
}

@media (max-width: 945px) {
  .skills {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 100%;
  }

  h1 {
    font-size: 56px;
  }

  h3 {
    font-size: 34px;
  }

  p {
    font-size: 16px;
  }

  h4 {
    font-size: 24px;
  }

  .first {
    order: 2;
  }

  .first li {
    display: inline;
    margin: 20px;
  }

  .second {
    order: 1;
    display: block;
  }

  .btn-responsive {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  .col-md-3 {
    width: 100%;
    float: left;
    margin: 0;
  }
}

.parent {
  position: relative;

  /* width: 300px; */

  /* height: 300px; */
  margin: 10px;
}

.child1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  background: red;
}

.child2 {
  z-index: 1;
  margin: 30px;
  background: green;
}
